div.l-content-consulting div.container div.main-consulting {
  margin: 0 173px;
}

div.l-content-consulting div.container div.main-consulting div.list-consulting ul li {
  float: left;
}

div.l-content-consulting div.container div.main-consulting div.article-02 div.info-article img.mobile {
  display: none;
}
