@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans CJK JP"), url(//fonts.gstatic.com/ea/notosansjapanese/v5/NotoSansJP-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v5/NotoSansJP-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v5/NotoSansJP-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans CJK JP"), url(//fonts.gstatic.com/ea/notosansjapanese/v5/NotoSansJP-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v5/NotoSansJP-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v5/NotoSansJP-Black.otf) format("opentype");
}

/*------------------------------------------------------------
	COLOR
------------------------------------------------------------*/
/*------------------------------------------------------------
	FONT FAMILY
------------------------------------------------------------*/
/*------------------------------------------------------------
	SIZE
------------------------------------------------------------*/
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
  zoom: 0;
  min-zoom: 0.5;
  max-zoom: 3;
  user-zoom: fixed;
}

@viewport {
  width: device-width;
  zoom: 0;
  min-zoom: 0.5;
  max-zoom: 3;
  user-zoom: fixed;
}

/* BEM
    For example:
        Block .block
        Element .block__element
        Modifier .block--modifier
*/
/*------------------------------------------------------------
	Layout 
------------------------------------------------------------*/
body {
  line-height: 1.5;
  background: #f9f6f1;
  min-width: 1140px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: 1px;
  color: #333;
}

.container {
  min-width: 1170px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 50px 0 200px 0;
}

.l-wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.pc {
  display: block;
}

.mb {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
  .container {
    min-width: 320px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0px 0 170px 0;
  }
  .l-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .pc {
    display: none;
  }
  .mb {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  background: #fff;
  text-align: left;
}

@media screen and (max-width: 768px) {
  #header {
    width: 100%;
    padding: 15px 0 0px 0;
  }
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
.drawer-overlay {
  background: none;
}

.drawer-hamburger {
  width: 15rem;
}

.drawer--top .drawer-nav {
  position: absolute;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
/*------------------------------------------------------------
	frame
------------------------------------------------------------*/
.l-frame {
  overflow: hidden;
  margin: 20px 0 60px 0;
}

.l-frame__left {
  width: 800px;
  float: left;
}

.l-frame__right {
  width: 300px;
  float: right;
}

@media screen and (max-width: 767px) {
  .l-frame {
    width: 100%;
    margin: 10px 0 30px 0;
  }
  .l-frame__left {
    width: 100%;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-frame__right {
    width: 100%;
    float: none;
  }
  .c-section3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .c-section5 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .c-section1 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .c-section2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .c-sectionSp {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .c-section7 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .c-section4 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .c-section4__mb {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .c-section6 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  background: #e5ded1;
}

/* BEM
    For example:
        Block .block
        Element .block__element
        Modifier .block--modifier
*/
/*------------------------------------------------------------
	Component 
------------------------------------------------------------*/
/*------------------------------------------------------------
	header
------------------------------------------------------------*/
.c-header {
  text-align: left;
  color: #666;
}

.c-header ul li {
  float: left;
}

.c-header__row {
  font-family: "https://fonts.google.com/specimen/Noto+Sans";
  overflow: hidden;
}

.c-header__left {
  width: 860px;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: 1px;
}

.c-header__left span {
  float: left;
}

.c-header__right {
  width: 280px;
  float: right;
  text-align: right;
  font-size: 1.2rem;
  letter-spacing: 0;
}

.c-header__right ul li {
  line-height: 30px;
  padding-left: 80px;
}

.c-header__right ul li:first-child {
  padding-left: 10px;
}

.c-header--logo {
  float: left;
}

.c-header--2__info p {
  font-size: 1.38rem;
  font-weight: 600;
}

.c-header--2__info span {
  font-size: 3.8rem;
  line-height: 4rem;
  font-family: Myriad Pro;
  padding-left: 8px;
  font-weight: 600;
}

.c-header--2__info img {
  vertical-align: inherit;
}

@media screen and (max-width: 767px) {
  .c-header {
    padding: 0 2%;
  }
  .c-header__row {
    font-family: "https://fonts.google.com/specimen/Noto+Sans";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
  }
  .c-header--1 {
    display: none;
  }
  .c-header--logo {
    float: left;
    width: 32%;
    display: inline-table;
  }
  .c-header--2__info {
    width: 50%;
    margin: 0 4%;
    float: left;
    display: inline-table;
  }
  .c-header--2__info p {
    font-size: 1.38rem;
    font-weight: 600;
  }
  .c-header--2__info span {
    font-size: 3.8rem;
    line-height: 4rem;
    font-family: Myriad Pro;
    padding-left: 8px;
    font-weight: 600;
  }
  .c-header--2__info img {
    vertical-align: inherit;
  }
  .c-header__btnNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10%;
  }
  .c-header__btnNav .btndropdown {
    font-size: 3.5rem;
    background: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #777;
    margin-top: -5px;
    position: inherit;
  }
}

/*------------------------------------------------------------
	gnav
------------------------------------------------------------*/
.c-gnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8px;
}

.c-gnav__menu {
  width: 860px;
  font-family: "https://fonts.google.com/specimen/Noto+Sans";
  padding-top: 18px;
}

.c-gnav__menu ul li {
  float: left;
  padding: 0 22px;
  border-left: 2px solid #bfbfbf;
}

.c-gnav__menu ul li a {
  padding-bottom: 10px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: 1px;
}

.c-gnav__menu ul li:last-child {
  border-right: 1px solid #bfbfbf;
}

.c-gnav__menu ul .active a {
  border-bottom: 2px solid #555;
}

.c-gnav__btn {
  width: 280px;
  float: right;
}

.c-gnav__btn button {
  background-color: #930000;
  -webkit-box-shadow: 0 2px 0 #660000;
  box-shadow: 0 2px 0 #660000;
  border-radius: 5px;
  float: right;
  font-family: "https://fonts.google.com/specimen/Noto+Sans";
  width: 270px;
  height: 43px;
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: 2px;
}

.c-gnav__btn button:before {
  font-family: 'FontAwesome';
  content: "\f105";
  padding-right: 15px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .c-gnav {
    display: none;
  }
  .c-gnav__menu {
    width: 100%;
    font-family: "https://fonts.google.com/specimen/Noto+Sans";
    padding-top: 0;
    background: #9b833b;
  }
  .c-gnav__menu ul li {
    float: none;
    padding: 10px;
    border-left: 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  .c-gnav__menu ul li a {
    color: #fff;
    font-size: 1.25rem;
  }
  .c-gnav__menu ul li:last-child {
    border-right: 0;
  }
  .c-gnav__menu ul .active a {
    border-bottom: 0;
    color: #c7403a;
  }
  .c-gnav__btn {
    display: none;
  }
  .c-gnav__btnClose .btnClose {
    bottom: -465px;
    width: 8rem;
    opacity: 0;
    overflow: hidden;
    right: 46% !important;
  }
  .c-gnav__btnClose button {
    background: none;
    font-size: 1.25rem;
    color: #fff;
    width: 100%;
    text-align: center;
  }
}

/*------------------------------------------------------------
	slider
------------------------------------------------------------*/
.c-slider {
  width: 1140px;
  margin: 0 auto 40px 0;
  position: relative;
}

.c-slider .slide {
  position: relative;
}

.c-slider .slide button {
  padding: 10px 65px;
  color: #fff;
  font-size: 20px;
  background-color: #930000;
  position: absolute;
  z-index: 2;
  bottom: 11%;
  left: 35%;
  text-align: center;
  position: center;
  -webkit-box-shadow: 0px 5px 0px #660000;
          box-shadow: 0px 5px 0px #660000;
  border-radius: 5px;
  border-style: unset;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.c-slider .slick-dots li button:before {
  font-family: 'slick';
  font-size: 5rem;
  line-height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  content: '•';
  text-align: center;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
}

.c-slider .slick-dots li.slick-active button:before {
  color: #fff;
}

.c-slider .slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .c-slider {
    width: 100%;
    margin: 0 auto;
  }
  .c-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .c-slider .slide {
    position: relative;
  }
  .c-slider .slide button {
    background: -webkit-linear-gradient(#ffcd03, #fffc30);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcd03), to(#fffc30));
    background: linear-gradient(#ffcd03, #fffc30);
    /* Standard syntax (must be last) */
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #282828;
    line-height: 20px;
    width: 90%;
    left: 5%;
    padding: 20px 0;
  }
  .c-slider .slide button:before {
    content: '無料';
    background: -webkit-linear-gradient(#fffc30, #ffcd03);
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, left bottom, from(#fffc30), to(#ffcd03));
    background: linear-gradient(#fffc30, #ffcd03);
    /* Standard syntax (must be last) */
    padding: 15px 10px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .c-slider .slide button:after {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-left: 5px;
    font-size: 2rem;
    font-weight: 100;
  }
  .c-slider .slick-dots li button:before {
    font-family: 'slick';
    font-size: 5rem;
    line-height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    content: '•';
    text-align: center;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 1;
  }
  .c-slider .slick-dots li.slick-active button:before {
    color: #fff;
  }
  .c-slider .slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .c-slider__bg {
    font-family: "A";
  }
  .c-slider__bg button {
    background: -webkit-linear-gradient(#fffc30, #ffcd03) !important;
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, left bottom, from(#fffc30), to(#ffcd03)) !important;
    background: linear-gradient(#fffc30, #ffcd03) !important;
    /* Standard syntax (must be last) */
  }
  .c-slider__bg button:before {
    content: '無料';
    background: -webkit-linear-gradient(#ffcd03, #fffc30) !important;
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcd03), to(#fffc30)) !important;
    background: linear-gradient(#ffcd03, #fffc30) !important;
    /* Standard syntax (must be last) */
    padding: 15px 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

/*------------------------------------------------------------
	navi
------------------------------------------------------------*/
.c-navi__top {
  background-color: #e5ded1;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px 40px 20px 40px;
  position: relative;
}

.c-navi__title {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.c-navi__content {
  overflow: hidden;
  width: 100%;
}

.c-navi--menu {
  float: left;
  position: relative;
  padding-bottom: 10px;
  width: 640px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-navi--menu__item {
  padding: 20px 0 20px 60px;
  background-color: #fff;
  border: 1px solid #ccc;
  float: left;
  width: 280px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.c-navi--menu__item a {
  text-decoration: none;
  color: #666;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
}

.c-navi--menu__item a span {
  font-size: 25px;
  color: #9b833b;
  font-weight: bold;
  margin: 0 10px;
}

.c-navi--menu__item:before {
  position: absolute;
  top: 15px;
  left: 15px;
}

.c-navi--menu__item:first-child:before {
  content: url(../img/icon_navi_01.png);
}

.c-navi--menu__item:last-child:before {
  content: url(../img/icon_navi_02.png);
}

.c-navi--menu__icon {
  width: 50px;
  text-align: center;
  margin-top: 25px;
}

.c-navi__form {
  width: 420px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.c-navi__form input[type="radio"] {
  background-color: #fff;
  border: 1px solid #9b833b;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  position: relative;
  outline: none;
  width: 20px;
  vertical-align: text-bottom;
}

.c-navi__form input[type="radio"]:checked {
  background: red;
}

.c-navi__form label {
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
  color: #333;
}

.c-navi__form--left {
  width: 160px;
  float: left;
}

.c-navi__form--right {
  width: 240px;
  float: right;
}

.c-navi__form--right .c-btn--red {
  display: none;
}

.c-navi__form--right .icon:before {
  content: url(../img/icon_search.png);
  position: absolute;
  top: 15px;
  left: 30px;
}

.c-navi__btn {
  width: 100%;
  color: #fff;
  padding: 10px 0 10px 60px;
  text-align: center;
  border-style: unset;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 35px;
  position: relative;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 2px;
}

.c-navi__bottom {
  width: 100%;
  background-color: #9b833b;
  padding: 10px 0;
  text-align: center;
  -webkit-box-shadow: 0 5px 0 #88712b;
          box-shadow: 0 5px 0 #88712b;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 40px;
}

.c-navi__bottom a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
}

.c-navi__bottom a:before {
  content: "\f107";
  font-family: 'FontAwesome';
  padding: 0 5px;
}

.c-navi__btnTop {
  margin-bottom: 10px;
  position: absolute;
  top: -125px;
  right: 0;
}

@media screen and (max-width: 767px) {
  .c-navi {
    width: 100%;
  }
  .c-navi__top {
    padding: 10px;
    background-color: #d6d6d6;
  }
  .c-navi__btnTop {
    margin-bottom: 0;
    position: initial;
  }
}

/*------------------------------------------------------------
	section
------------------------------------------------------------*/
.c-section {
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}

.c-section img {
  width: 100%;
  height: auto;
}

.c-section__title {
  line-height: 4rem;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 3px solid #ccc;
  position: relative;
}

.c-section__title .border {
  height: 30px;
  width: 90px;
  border-bottom: 3px solid #000;
  position: absolute;
  bottom: -2px;
}

.c-section__title span a {
  display: inline-block;
}

.c-section__title span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  padding-bottom: 15px;
}

.c-section__title span:last-child {
  font-size: 1.2rem;
  padding-left: 20px;
  border: 1px solid #f0eeea;
  float: right;
  border-radius: 5px;
  color: #666;
}

.c-section__title span:last-child:after {
  content: "\f105";
  font-family: 'FontAwesome';
  padding: 0 10px;
  font-weight: bold;
  color: #ccc;
}

.c-section__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-section__content {
  margin: 0 67px;
}

@media screen and (max-width: 767px) {
  .c-section {
    margin: 10px 0;
  }
  .c-section--1 {
    padding-bottom: 15px;
  }
  .c-section__content {
    margin: 0 20px;
  }
  .c-section__row {
    width: 100%;
  }
  .c-section__title {
    margin: 0 2%;
    line-height: 2rem;
    border-bottom: 2px solid #ccc;
  }
  .c-section__title .border {
    height: 30px;
    width: 90px;
    border-bottom: 2px solid #000;
    position: absolute;
    bottom: -2px;
  }
  .c-section__title span a {
    display: none;
  }
  .c-section__title span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding-bottom: 15px;
  }
  .c-section__title span:last-child {
    font-size: 1.2rem;
    padding-left: 20px;
    border: 1px solid #f0eeea;
    float: right;
    border-radius: 5px;
    color: #666;
  }
  .c-section__title span:last-child:after {
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 10px;
    font-weight: bold;
    color: #ccc;
  }
}

.c-section1 {
  background: url(../img/bg_navi.png) repeat;
  overflow: hidden;
}

.c-section1__title {
  text-align: center;
  margin: 20px 0;
}

.c-section1__title p img {
  width: auto;
  margin-bottom: 5px;
}

.c-section1__content li {
  width: 200px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 15px;
}

.c-section1__content li:first-child {
  width: 430px;
  margin-right: 35px;
  margin-bottom: 0;
}

.c-section1__content li:first-child a {
  font-size: 2.1rem;
  line-height: 2rem;
}

.c-section1__content li:first-child a p {
  margin: 10px 0;
  letter-spacing: 3px;
}

.c-section1__content li:first-child a small {
  font-size: 1.292rem;
  font-weight: normal;
  margin-top: -5px;
}

.c-section1__content li:nth-child(5) {
  margin: 0 33px 30px 33px;
}

.c-section1__content li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  line-height: 3rem;
}

@media screen and (max-width: 767px) {
  .c-section1 {
    padding-bottom: 15px;
  }
  .c-section1__title {
    text-align: center;
    margin: 10px 0;
  }
  .c-section1__title p {
    font-size: 1.318rem;
  }
  .c-section1__title p img {
    width: 100%;
  }
  .c-section1__title p:first-child {
    width: 50%;
    margin: 0 auto;
  }
  .c-section1__content li {
    width: 48%;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 12px;
    margin-bottom: 15px;
  }
  .c-section1__content li:first-child {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 0;
  }
  .c-section1__content li:first-child a {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .c-section1__content li:first-child a p {
    margin: 10px 0;
  }
  .c-section1__content li:nth-child(even) {
    margin-right: 4%;
  }
  .c-section1__content li:nth-child(5) {
    margin: 0;
    margin-bottom: 15px;
  }
  .c-section1__content li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .c-section1__content li a p {
    line-height: 2rem;
    margin-top: 5px;
  }
}

.c-section2__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  color: #333;
}

.c-section2__content img {
  margin-bottom: 20px;
}

.c-section2__content li {
  width: 260px;
  padding-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px #ccc;
          box-shadow: 0px 2px 5px #ccc;
  border: 1px solid #ccc;
}

.c-section2__content li:nth-child(2) {
  margin: 0 20px;
}

.c-section2__content__day {
  font-size: 0.935rem;
  font-weight: bold;
}

.c-section2__content__title {
  font-size: 1.496rem;
}

.c-section2__content--left {
  width: 155px;
  float: left;
  padding-left: 20px;
  position: relative;
}

.c-section2__content--left h3 {
  font-size: 1.496rem;
}

.c-section2__content--right {
  width: 98px;
  float: right;
  text-align: center;
  font-weight: 500;
  color: #000;
}

.c-section2__content--right img {
  width: auto;
  margin-bottom: 5px;
}

.c-section2__content--right p {
  font-size: 0.935rem;
}

.c-section2__content--right p:last-child {
  font-size: 1.122rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .c-section2 {
    padding: 0 20px;
  }
  .c-section2__content {
    display: inline-block;
    width: 100%;
    color: #333;
  }
  .c-section2__content img {
    margin-bottom: 20px;
  }
  .c-section2__content li {
    width: 100%;
  }
  .c-section2__content li:nth-child(2) {
    margin: 0;
  }
  .c-section2__content__day {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .c-section2__content__title {
    font-size: 2rem;
  }
  .c-section2__content--left {
    width: 70%;
    float: left;
    padding-left: 20px;
    position: relative;
  }
  .c-section2__content--left h3 {
    font-size: 2rem;
  }
  .c-section2__content--right {
    width: 30%;
    float: right;
    text-align: center;
    font-weight: 500;
    color: #000;
  }
  .c-section2__content--right img {
    width: auto;
    margin-bottom: 5px;
  }
  .c-section2__content--right p {
    font-size: 1.25rem;
  }
  .c-section2__content--right p:last-child {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .c-section2__slider {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    margin: 15px 0;
  }
  .c-section2__btn1 {
    background: none;
    margin-right: 10px;
  }
  .c-section2__btn1:after {
    content: "\f053";
    font-family: 'FontAwesome';
    color: #ccc;
    font-size: 2rem;
  }
  .c-section2__btn2 {
    background: none;
    margin-left: 10px;
  }
  .c-section2__btn2:after {
    content: "\f054";
    font-family: 'FontAwesome';
    color: #ccc;
    font-size: 2rem;
  }
}

.c-section3__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  border-top: 3px solid #4a4a4a;
  border-bottom: 3px solid #4a4a4a;
  line-height: 7rem;
}

.c-section3__title--left {
  width: 50%;
  color: #333;
  border-right: 1px solid #ccc;
  padding: 0 20px 0 30px;
  line-height: 8rem;
}

.c-section3__title--left span:first-child {
  font-size: 2.4rem;
  font-family: 'HiraMinPro';
}

.c-section3__title--left span:last-child {
  float: right;
  font-size: 1.2rem;
}

.c-section3__title--right {
  width: 50%;
  padding-left: 20px;
  font-size: 1.2rem;
}

.c-section3__title--right span:first-child {
  font-size: 3rem;
  color: #9b833b;
  font-family: 'HiraMinPro';
  margin: 0 20px;
}

.c-section3__title--right span:last-child {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
}

.c-section3__tab {
  padding-top: 20px;
}

.c-section3__content {
  margin: 30px 0 20px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.c-section3__left {
  width: 46%;
  margin-right: 4%;
  margin-left: 22px;
  background: #fff;
  border-radius: 5px;
}

.c-section3__titleMap {
  padding: 25px 0 5px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

.c-section3__titleMap span {
  font-size: 2rem;
  color: #9b833b;
}

.c-section3__map {
  text-align: right;
  padding-right: 50px;
  margin-top: -25px;
}

.c-section3__map img {
  width: auto;
}

.c-section3__mapInfo {
  font-size: 1.4rem;
  padding: 10px 0 20px 25px;
  color: #666;
}

.c-section3__right {
  width: 44%;
}

.c-section3__btnS {
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 7px;
  cursor: pointer;
  text-align: left;
  background: #e6ded1;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #e6ded1);
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6ded1));
  background: linear-gradient(#fff, #e6ded1);
  /* Standard syntax (must be last) */
  border-radius: 5px;
  position: relative;
  border: 1px solid #acacac;
}

.c-section3__btnS:last-child {
  margin-bottom: 0;
}

.c-section3__btnS .c-section3__mapInfo {
  font-weight: bold;
}

.c-section3__btnS:after {
  content: "\f067";
  font-family: 'FontAwesome';
  color: #9b833b;
  font-size: 2rem;
  position: absolute;
  right: 5%;
  top: 40%;
}

.c-section3 #tab_2 .c-section3__btnS {
  margin-bottom: 10px;
}

.c-section3 #tab_2 .c-section3__btnS:last-child {
  margin-bottom: 0;
}

.c-section3 #tab_2 .c-section3__titleMap {
  padding: 20px 0 5px 25px;
}

.c-section3 #tab_2 .c-section3__mapInfo {
  padding: 0px 0 5px 25px;
}

.c-section3__btnL {
  -webkit-box-shadow: 0px 8px 5px #c4b290;
          box-shadow: 0px 8px 5px #c4b290;
  width: 94%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.6rem;
  background: #d5c5a7;
  line-height: 5rem;
  border: 1px solid #fff;
  margin: 25px 20px;
}

.c-section3__bottom {
  padding-bottom: 45px;
  background: #d0be9c;
}

.c-section3__bottom .c-btn {
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #930000;
  -webkit-box-shadow: 0 5px 0 #570000;
          box-shadow: 0 5px 0 #570000;
}

.c-section3__bottom .c-btn:before {
  content: url(../img/icon_search.png);
  position: absolute;
  top: 15px;
  left: 130px;
}

.c-section3__bottom .dropdown-content {
  display: none;
  min-width: 160px;
  overflow: auto;
  padding: 0 25px;
}

.c-section3__bottom .dropdown-content .c-section3__btnS {
  width: 350px;
  float: left;
  margin-bottom: 10px;
}

.c-section3__bottom .dropdown-content .c-section3__btnS:nth-child(2n+1) {
  margin-right: 8px;
}

.c-section3__bottom .dropdown-content .c-section3__btnS:last-child {
  margin-bottom: 0;
}

.c-section3__bottom .dropdown-content .c-section3__titleMap {
  padding: 20px 0 5px 25px;
}

.c-section3__bottom .dropdown-content .c-section3__mapInfo {
  padding: 0px 0 5px 25px;
}

.c-section3__bottom .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.c-section3__bottom .dropdown a:hover {
  background-color: #f1f1f1;
}

.c-section3__bottom .show {
  display: block;
}

.plus:after {
  content: "\f067";
  font-family: 'FontAwesome';
  color: #fff;
  font-size: 2rem;
  padding-left: 50px;
}

.minus:after {
  content: "\f068";
  font-family: 'FontAwesome';
  color: #fff;
  font-size: 2rem;
  padding-left: 50px;
}

@media screen and (max-width: 767px) {
  .c-section3__title {
    display: none;
  }
  .c-section3__titleMap {
    padding: 20px 0 10px 15px;
    font-size: 1.25rem;
  }
  .c-section3__titleMap span {
    font-size: 1.75rem;
  }
  .c-section3__content {
    margin: 15px 0 15px 0;
  }
  .c-section3__btnS {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 7px;
  }
  .c-section3__right {
    width: 100%;
    margin: 0 25px;
  }
  .c-section3 #tab_2 .c-section3__btnS {
    margin-bottom: 0px;
  }
  .c-section3__bottom {
    padding-bottom: 45px;
  }
  .c-section3__bottom .c-btn {
    width: 70%;
    margin: 0 auto;
    margin-top: 0px;
    font-size: 1.5rem;
    padding: 10px;
  }
  .c-section3__bottom .c-btn:before {
    position: initial;
    background-image: url(../img/icon_search.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
  }
}

.c-section4 {
  background: url(../img/img_bg_sec4.png) no-repeat;
  padding: 20px;
  background-size: 100% 100%;
  display: inline-block;
}

.c-section4 img {
  width: auto;
}

.c-section4__top {
  background: #fff;
  border-radius: 5px;
  margin-top: 140px;
  padding: 20px;
  margin-bottom: 10px;
}

.c-section4__title {
  color: #114f7a;
  font-size: 2rem;
  font-family: 'HiraMinPro';
}

.c-section4__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-section4__content--left {
  width: 500px;
  font-family: 'HiraKakuProN';
  font-size: 1.2rem;
  padding-top: 20px;
}

.c-section4__content--right img {
  margin-left: 10px;
}

.c-section4__bottom br {
  display: none;
}

.c-section4__bottom .c-btn {
  width: 365px;
  float: left;
  font-size: 1.4rem;
  padding: 0;
  line-height: 5rem;
}

.c-section4__bottom .c-btn:first-child {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .c-section4 {
    padding: 0px 4%;
  }
  .c-section4__bottom {
    margin-top: 140px;
  }
  .c-section4__bottom br {
    display: block;
  }
  .c-section4__bottom .c-btn {
    width: 100%;
    float: left;
    font-size: 1.25rem;
    padding: 0;
    height: 50px;
    line-height: 2rem;
    margin-bottom: 15px;
  }
  .c-section4__bottom .c-btn:first-child {
    margin-right: 0;
  }
  .c-section4__bottom .c-btn--red {
    background-color: #c90227;
    -webkit-box-shadow: 0 5px 0 #660000;
    box-shadow: 0 5px 0 #660000;
  }
  .c-section4__top {
    background: #fff;
    border-radius: 5px;
    margin-top: 0px;
    padding: 4%;
    margin-bottom: 10px;
  }
  .c-section4__title {
    color: #000;
    font-size: 2rem;
  }
  .c-section4__content {
    display: inline-block;
    width: 100%;
  }
  .c-section4__content--left {
    width: 100%;
    font-family: 'HiraMinPro';
    font-size: 1.25rem;
    padding-top: 20px;
    letter-spacing: 3px;
  }
  .c-section4__content--right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    margin: 15px 0;
  }
  .c-section4__content--right .img {
    width: 26%;
    margin-left: 5%;
  }
}

.c-section5__content {
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  color: #666;
}

.c-section5__content:after {
  content: "\f054";
  position: absolute;
  right: 0;
  font-family: 'FontAwesome';
  padding: 5px 10px;
  color: #999;
  top: 30%;
  font-size: 1.5rem;
}

.c-section5__title {
  font-size: 1.4rem;
  color: #a28c4e;
  font-weight: bold;
}

.c-section5__title:first-letter {
  margin-left: -7px;
}

.c-section5__row dl {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.c-section5__row dl:nth-child(odd) {
  width: 560px;
}

.c-section5__row dl:nth-child(even) {
  width: 200px;
}

.c-section5__row dl dt {
  width: 75px;
  position: relative;
}

.c-section5__row dl dt:after {
  content: ":";
  position: absolute;
  right: 5px;
}

.c-section5__row dl dd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .c-section5__content {
    padding: 15px 2%;
    background: #fff;
    width: 96%;
    margin: 0 2% 2% 2%;
  }
  .c-section5__content:after {
    color: #c7403a;
  }
  .c-section5 .c-section1__title p:last-child {
    margin-top: -10px;
  }
  .c-section5__title {
    font-size: 1.25rem;
  }
  .c-section5__row {
    padding-left: 15px;
  }
  .c-section5__row dl {
    font-size: 1.15rem;
    padding-left: 0;
  }
  .c-section5__row dl:nth-child(odd) {
    width: 100%;
  }
  .c-section5__row dl:nth-child(even) {
    width: 100%;
  }
  .c-section5__row dl dt {
    width: 80px;
    position: relative;
    font-weight: bold;
  }
  .c-section5__row dl dt:after {
    content: ":";
    position: absolute;
    right: 5px;
  }
  .c-section5__row dl dd {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .c-section5__row dl.mb {
    display: none;
  }
  .c-section5__location {
    font-size: 1.15rem;
    margin: 20px 0 10px 0;
  }
  .c-section5__location::before {
    background-image: url(../img/icon_location.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 25px;
    height: 20px;
    content: "";
  }
  .c-section5__bottom {
    width: 100%;
    text-align: center;
  }
  .c-section5__bottom p {
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 20px 0;
    border: 1px solid #ccc;
    margin: 0 20px;
    color: #666;
    font-weight: bold;
  }
  .c-section5__bottom p:after {
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 10px;
    font-weight: bold;
    color: #ccc;
  }
}

.c-section6 .c-section5__row dl:nth-child(even) {
  width: 560px;
}

.c-section6 .c-section5__row dl:nth-child(odd) {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .c-section6 .c-section5__content {
    background: none;
    padding: 15px 10px;
  }
  .c-section6 .c-section5__content:after {
    color: #999;
  }
  .c-section6 .c-section5__row {
    padding-left: 0;
  }
  .c-section6 .c-section5__row dl:nth-child(even) {
    width: 100%;
  }
}

.c-section7__content {
  font-size: 1.2rem;
  color: #666;
}

.c-section7__content p {
  letter-spacing: 3px;
}

.c-section7__content dl {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 0;
}

.c-section7__content dl dt {
  padding-right: 40px;
  font-weight: bold;
}

.c-section7__content dl dd {
  padding: 0 35px;
  border-left: 1px solid #666666;
}

.c-section7__content dl dd:last-child() {
  border-right: 1px solid #666666;
}

@media screen and (max-width: 767px) {
  .c-section7__content {
    font-size: 1rem;
    color: #666;
    padding: 0 2%;
  }
  .c-section7__content dl {
    padding: 2% 0;
    width: 100%;
  }
  .c-section7__content dl dt {
    margin: 0 2%;
    padding: 0;
    font-weight: bold;
  }
  .c-section7__content dl dd {
    padding: 0 4%;
    border-left: 1px solid #666666;
  }
  .c-section7__content dl dd:last-child() {
    border-right: 1px solid #666666;
  }
}

.c-sectionS1 img {
  width: auto;
}

.c-sectionS1__top {
  text-align: center;
  padding: 20px;
  background: #e2c308;
  border-radius: 5px;
  margin-bottom: 40px;
}

.c-sectionS1__top img {
  margin-bottom: 20px;
}

.c-sectionS1__bottom {
  background: #fff;
}

.c-sectionS1__row {
  padding: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-sectionS1__row span {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-left: 25px;
  padding-top: 10px;
  letter-spacing: 1px;
}

@media screen and (max-width: 767px) {
  .c-sectionS1 {
    display: none;
  }
}

.c-sectionS2 {
  background: #e5ded1;
  padding: 20px;
  border-radius: 3px;
}

.c-sectionS2__title {
  font-size: 1.4rem;
  color: #333;
  border-left: 4px solid #9b833b;
  padding-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "https://fonts.google.com/specimen/Noto+Sans";
}

.c-sectionS2__row {
  padding: 10px;
  background: #fff;
  margin: 10px 0;
}

.c-sectionS2__info {
  font-size: 1.2rem;
  color: #333;
  line-height: 2rem;
}

.c-sectionS2__info--title {
  font-size: 1.4rem;
  color: #666;
  font-weight: bold;
  line-height: 3.5rem;
}

@media screen and (max-width: 767px) {
  .c-sectionS2 {
    padding: 2%;
  }
  .c-sectionS2__title {
    font-size: 1.4rem;
    color: #333;
    border-left: 4px solid #9b833b;
    padding-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-family: "https://fonts.google.com/specimen/Noto+Sans";
  }
  .c-sectionS2__row {
    padding: 2%;
    background: #fff;
    margin: 5px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  .c-sectionS2__img {
    width: 50%;
  }
  .c-sectionS2__info {
    width: 70%;
    font-size: 1rem;
    color: #333;
    line-height: 2rem;
    padding-left: 10px;
    font-weight: 600;
  }
  .c-sectionS2__info--title {
    font-size: 1.5rem;
    color: #9b833b;
    font-weight: bold;
    line-height: 3.5rem;
  }
  .c-sectionS2__info .mb {
    position: relative;
  }
  .c-sectionS2 .icon {
    padding-top: 28px;
  }
  .c-sectionS2 .icon:after {
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0 10px;
    font-weight: bold;
    color: #bf9763;
    font-size: 2rem;
  }
}

.c-sectionS3__title {
  font-size: 1.2rem;
  padding: 15px 0;
}

.c-sectionS3__info {
  color: #333;
  font-size: 1.2rem;
  background: #fff;
  padding: 20px;
}

.c-sectionS3__info__row {
  margin-bottom: 20px;
}

.c-sectionS3__info__row:last-child {
  margin-bottom: 0;
}

.c-sectionS3__info--title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.c-sectionS3__box {
  text-align: center;
  height: 100px;
  background: #fff;
  margin-top: 20px;
  line-height: 10rem;
}

.c-sectionS3__box img {
  width: auto;
  vertical-align: middle;
}

.c-section .border_box {
  border: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
  .c-sectionS3__title {
    font-size: 1rem;
    padding: 10px 2%;
  }
  .c-sectionS3__info {
    color: #333;
    font-size: 1rem;
    padding: 2%;
  }
  .c-sectionS3__info__row {
    margin-bottom: 10px;
    padding: 0 2%;
  }
  .c-sectionS3__info--title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .c-sectionS3__box {
    margin: 20px 2% 0 2%;
  }
}

.c-sectionSp {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-sectionSp {
    display: block;
  }
  .c-sectionSp__row {
    overflow: hidden;
    margin: 0 2%;
  }
  .c-sectionSp__row--title {
    padding: 10px 0;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .c-sectionSp__row ul {
    width: 100%;
  }
  .c-sectionSp__row ul li {
    width: 31%;
    padding: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    margin: 1.4%;
    -webkit-box-shadow: 1px 1px 1px #888888;
            box-shadow: 1px 1px 1px #888888;
  }
  .c-sectionSp__row ul li a {
    color: #666;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1rem;
    text-decoration: none;
  }
  .c-sectionSp__row ul li a:after {
    font-family: 'FontAwesome';
    content: "\f054";
    color: #9b833b;
    right: 10px;
    position: absolute;
  }
  .c-sectionSp__row ul li:nth-child(3n+1) {
    margin-left: 0;
  }
}

/*------------------------------------------------------------
	title
------------------------------------------------------------*/
.c-title1 {
  font-size: 1.4rem;
  color: #333;
  border-left: 4px solid #9b833b;
  padding-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "https://fonts.google.com/specimen/Noto+Sans";
}

@media screen and (max-width: 767px) {
  .c-title__mb {
    background-image: url(../img/bg_border_mb.png);
    background-repeat: repeat-y;
    padding-left: 20px;
  }
  .c-title1 {
    font-size: 1.25rem;
  }
}

/*------------------------------------------------------------
	btn
------------------------------------------------------------*/
/* BEM
    For example:
        Block .block
        Element .block__element
        Modifier .block--modifier
*/
/*------------------------------------------------------------
	Component Button
------------------------------------------------------------*/
.c-btn {
  width: 100%;
  color: #fff;
  padding: 10px 0 10px 60px;
  text-align: center;
  border-style: unset;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 35px;
  position: relative;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.c-btn1 {
  font-size: 1.122rem;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.c-btn1--red {
  background: #c7403a;
}

.c-btn1--blue {
  background: #217981;
}

.c-btn--red {
  background-color: #930000;
  -webkit-box-shadow: 0 5px 0 #570000;
  box-shadow: 0 5px 0 #570000;
}

.c-btn--brown {
  background-color: #333333;
  -webkit-box-shadow: 0 5px 0 #000;
  box-shadow: 0 5px 0 #000;
}

.c-btn--lightBlueN {
  background: #2e98a2;
}

.c-btn--yellowN {
  background: #e2c308;
}

.c-btn--redN {
  background: #c7403a;
}

.c-btn--blueN {
  background: #114f7a;
}

.c-btn--sidebar1 {
  background: #fff;
  width: 100%;
  line-height: 6rem;
  margin-bottom: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 0 #bba107;
          box-shadow: 0 2px 0 #bba107;
  font-size: 2rem;
  position: relative;
}

.c-btn--sidebar1:before {
  content: "\f054";
  font-family: 'FontAwesome';
  padding-right: 35px;
  color: #c8443e;
  font-size: 1.5rem;
  position: absolute;
  left: 30px;
}

.c-btn--sidebar2 {
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  position: relative;
  background: none;
  border: 1px solid #fff;
  line-height: 4rem;
  border-radius: 2px;
}

.c-btn--sidebar2:after {
  content: "\f054";
  font-family: 'FontAwesome';
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
}

.c-btn--sidebar3 {
  line-height: 10rem;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 2.3rem;
  text-align: center;
}

.c-btn--sidebar4 {
  line-height: 3rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background: none;
  position: relative;
  width: 100%;
  font-weight: 600;
  border-radius: 2px;
}

.c-btn--sidebar4 span.pc {
  display: -webkit-inline-box;
}

.c-btn--sidebar4__icon:after {
  content: "\f054";
  font-family: 'FontAwesome';
  color: #ccc;
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
}

.c-btn--naviFile {
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.559rem;
  border: 1px solid #ccc;
  font-weight: bold;
}

.c-btn--naviFile img {
  width: auto;
}

.c-btn--naviFile__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 5px;
}

.c-btn--naviFile__left {
  width: 47px;
  margin-right: 10px;
}

.c-btn--naviFile__right {
  line-height: 3rem;
}

.c-btn--naviFile__or {
  background: #dea141;
}

.c-btn--naviFile__or span {
  color: #a83e14;
}

.c-btn--naviFile__bl {
  background: #114f7a;
}

.c-btn--naviFile__bl span {
  color: #dea141;
}

@media screen and (max-width: 767px) {
  .c-btn1 {
    font-size: 1.5rem;
  }
  .c-btn--sidebar2 {
    font-size: 1.25rem;
    color: #666;
    margin: 2%;
    width: 96%;
  }
  .c-btn--sidebar2:after {
    content: "\f054";
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    right: 25px;
  }
  .c-btn--sidebar3 {
    line-height: 10rem;
    width: 96%;
    font-size: 2.5rem;
    margin: 0 2%;
  }
  .c-btn__mb1 {
    font-size: 4.5rem;
    font-weight: bold;
  }
  .c-btn--sidebar4 {
    font-size: 1.25rem;
    border-radius: 5px;
    line-height: 5rem;
    color: #666;
  }
  .c-btn--sidebar4 span.pc {
    display: none;
  }
  .c-btn--sidebar4 span.mb {
    display: -webkit-inline-box;
  }
  .c-btn--naviFile {
    padding: 0 5px;
    font-size: 1.1rem;
    width: 24%;
    height: 120px;
    display: -webkit-inline-box;
    letter-spacing: 1px;
    font-weight: normal;
  }
  .c-btn--naviFile__info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 5px;
  }
  .c-btn--naviFile__left {
    width: 100%;
    margin-right: 0;
  }
}

/*------------------------------------------------------------
	tab
------------------------------------------------------------*/
.c-tab__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  background: #f9f6f1;
}

.c-tab__item {
  width: 49%;
  text-align: center;
  line-height: 8rem;
  background: #fff;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.c-tab__item:first-child {
  margin-right: 2%;
}

.c-tab__link {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.c-tab .active {
  background: #d0be9c;
}

.c-tab--panes {
  display: none;
}

.c-tab--panes--active {
  display: block;
}

@media screen and (max-width: 767px) {
  .c-tab__nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    background: #f9f6f1;
  }
  .c-tab__item {
    width: 49%;
    text-align: center;
    line-height: 2rem;
    background: #fff;
    margin-right: 2%;
    cursor: pointer;
  }
  .c-tab__item:first-child {
    margin-right: 2%;
    margin-left: 2%;
  }
  .c-tab__link {
    font-size: 1.5rem;
    padding: 10px;
  }
  .c-tab .active {
    background: #d0be9c;
  }
  .c-tab--panes {
    display: none;
  }
  .c-tab--panes--active {
    display: block;
  }
}

/*------------------------------------------------------------
	frm
------------------------------------------------------------*/
.c-frm--dropdown {
  padding-bottom: 20px;
}

.c-frm--dropdown label {
  font-size: 1.4rem;
  color: #333;
  border-left: 4px solid #9b833b;
  line-height: 5rem;
  padding-left: 10px;
}

.c-frm--dropdown input {
  line-height: 5rem;
  padding-left: 25px;
  width: 85%;
  float: right;
  border-radius: 5px;
  border: 0;
}

/*------------------------------------------------------------
	modal
------------------------------------------------------------*/
.c-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.c-modal__content {
  position: fixed;
  top: 100px;
  background-color: #fefefe;
  width: 60%;
  margin: 5% 20% 0 20%;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.c-modal__content .c-section__title {
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
}

.c-modal__content .c-section__title span:last-child {
  font-size: 3.5rem;
  display: grid;
  border: 0;
}

.c-modal__content .c-section__title span:last-child:after {
  content: "";
}

.c-modal__content .c-section__title .border {
  border-bottom: 1px solid #9b833b;
  width: 180px;
}

.c-modal__close {
  color: #7c7c7c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.c-modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.c-modal__body img {
  width: 100%;
}

.c-modal__footer {
  padding: 20px;
  text-align: center;
  color: white;
}

.c-modal__footer .c-btn {
  width: 235px;
  font-size: 1.6rem;
  padding: 0;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
.c-footer {
  color: #666;
  position: relative;
  overflow: inherit;
}

.c-footer--1 {
  padding: 40px 0;
  border-bottom: 1px solid #999;
}

.c-footer__title {
  font-size: 1.2rem;
  font-weight: bold;
  border-left: 4px solid #9b833b;
  line-height: 15px;
  padding-left: 5px;
  margin-bottom: 15px;
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

.c-footer--content {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.c-footer--content__left {
  width: 140px;
  font-weight: 600;
  margin-right: 40px;
  padding-left: 8px;
}

.c-footer--content__right li {
  float: left;
}

.c-footer--content__right li:after {
  content: '/';
  margin: 0 10px;
}

.c-footer--content__right li:last-child:after {
  content: '';
}

.c-footer--sitemap {
  margin-bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-footer--sitemap:last-child {
  margin-bottom: 0;
}

.c-footer--2 {
  text-align: center;
  padding: 40px 0;
}

.c-footer__fs10 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.c-footer__mid {
  margin: 15px 0 20px 0;
}

.c-footer__btnTopPC {
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .c-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .c-footer__logo img {
    width: auto;
  }
  .c-footer__btnTopMB {
    background: #a48b3f;
    line-height: 6rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
  .c-footer__btnTopMB:before {
    font-family: 'FontAwesome';
    content: "\f0d8 ";
    color: #fff;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  .c-footer__top {
    padding: 20px 4% 10px 4%;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    line-height: 4rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  .c-footer__top span {
    width: 120%;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    padding-right: 10px;
  }
  .c-footer__top--phone {
    width: 35%;
    float: right;
    position: relative;
  }
  .c-footer__top--phone img {
    position: absolute;
    top: 35%;
  }
  .c-footer__menu1 li {
    padding-left: 4%;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    line-height: 5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
  }
  .c-footer__btn {
    background-color: #930000;
    -webkit-box-shadow: 0 5px 0 #570000;
            box-shadow: 0 5px 0 #570000;
    width: 95%;
    margin: 15px auto;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
  }
  .c-footer__btn p:first-child {
    margin-top: 5px;
  }
  .c-footer__btn p:last-child {
    margin-bottom: 5px;
  }
  .c-footer__menu2 {
    overflow: hidden;
  }
  .c-footer__menu2 li {
    float: left;
    width: 50%;
    padding: 4%;
    font-size: 1.25rem;
    color: #000;
    border-top: 1px solid #fff;
  }
  .c-footer__menu2 li:nth-child(2n+1) {
    border-right: 1px solid #fff;
  }
  .c-footer__menu2:last-child {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
  .c-footer__menu2:last-child li {
    width: 50%;
    border-bottom: 1px solid white;
  }
  .c-footer--2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .c-footer__mid {
    margin: 10px 0 10px 0;
  }
  .c-footer--content {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .c-footer--content br {
    display: block;
  }
}

/* BEM
    For example:
        Block .block
        Element .block__element
        Modifier .block--modifier
*/
/*------------------------------------------------------------
	Page Index
------------------------------------------------------------*/
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}
