<div class="c-footer l-wrapper">
    <div class="c-footer--1 pc">
        <p class="c-footer__title">
            医師の求人・転職サイト　ドクタービジョンとは？
        </p>
        <p class="c-footer--content">       
            ドクタービジョンは、医師の皆様の常勤の転職サポートから非常勤（アルバイト）での求人紹介を行う求人情報サイトです。日々更新されているお仕事情報の他、求人検索機能としては、常勤・非常勤（アルバイト）の雇用形態や全国の都道府県はもちろん、一般内科・精神科・在宅・訪問診療などの診療科目や、各種役職（院長、副院長、医員）、病床数などからも絞込みが可能であり、病医院種別についても一般病院やクリニック、リハビリ施設、療養、精神、老健などについてご提供しています。
        </p> 
        <p class="c-footer--content">   
            また、ドクタービジョンの医師のコンシェルジュサービスでは、既に働きたい病院をいくつか思い描いていらっしゃる先生方には、その施設を逆指名していただくことによって、まだ表には出ていない求人をご紹介することも可能です。
        </p>       
        <p class="c-footer--content"> 
            他にも、医師の皆様や、医療関係者、病院やクリニックにお勤めの皆様にお勧めのiPhoneやiPad・iPad2、Androidなどのスマートフォンアプリ紹介コンテンツや、医療に関わる動画ニュース等をご紹介しています。
        </p>        
        <p class="c-footer--content">
            おかげさまでドクタービジョンご利用の先生方には「病院および医局内の情報を豊富に持っている情報通な会社として信頼できる」とのご評判をいただいており、多くの医師の皆様にご利用いただいております。
        </p>
        <p class="c-footer--content">
            簡単便利な検索キーワードは、【ドクタービジョン】。 運営会社は、東証1部上場 日本調剤グループの株式会社メディカルリソースです。
        </p>
    </div>
    <div class="c-footer--1 pc">
        <p class="c-footer__title">
            SITE MAP
        </p>
        <div class="c-footer--content c-footer--sitemap">       
            <span class="c-footer--content__left">サイトメニュー</span>
            <ul class="c-footer--content__right">
                 <li>常勤求人検索</li>
                 <li>非常勤求人検索</li>
                 <li>初めての方へ</li>
                 <li>よくあるご質問</li>
                 <li>コンサルタントに相談　簡単60秒で新規登録</li>
            </ul>
        </div> 
        <div class="c-footer--content c-footer--sitemap">       
            <span class="c-footer--content__left">医師求人特集</span>
            <ul class="c-footer--content__right">
                 <li>特集タイトル１</li>
                 <li>特集タイトル2</li>
                 <li>特集タイトル3</li>
                 <li>特集タイトル4</li>
                 <li>特集タイトル5</li>
                 <li>特集タイトル6</li>
                 <li>特集タイトル7</li>
            </ul>
        </div> 
        <div class="c-footer--content c-footer--sitemap">       
            <span class="c-footer--content__left">医師キャリアアップラボ</span>
            <ul class="c-footer--content__right">
                <li>コラムカテゴリタイトル1</li>
                <li>コラムカテゴリタイトル2</li>
                <li>コラムカテゴリタイトル3</li>
                <li>コラムカテゴリタイトル4</li>
                <li>コラムカテゴリタイトル5</li>
            </ul>
        </div> 
        <p class="c-footer__title">
            FAMILY SITE
        </p>
        <div class="c-footer--content c-footer--sitemap">       
            <span class="c-footer--content__left">関連サイト</span>
            <ul class="c-footer--content__right">
                <li>ファルマスタッフ</li>
                <li>ROOKIE’S</li>
                <li>探しっくす</li>
                <li>株式会社メディカルリソース</li>
            </ul>
        </div>
    </div>
    <div class="c-footer__btnTopMB mb">
        <a onclick="topFunction()">PAGE TOPへ戻る</a> 
    </div>
    <div class="c-footer--mb mb">
        <div class="c-footer__top">
            <span>電話でのお問い合わせ：平日9:00 - 19:00</span>
            <!-- <span>0120-14-5255</span> -->
            <div class="c-footer__top--phone">
                <img src="assets/img/phone_ft.png" alt="">
            </div>
            
        </div>
        <ul class="c-footer__menu1">
            <li>初めての方へ</li>
            <li>医師キャリアラボ</li>
            <li>よくあるご質問</li>
        </ul>
        <div class="c-footer__btn c-btn">
                <p>コンサルタントに相談</p> 
                <p>簡単60秒で新規登録</p>
        </div>
        <ul class="c-footer__menu2">
            <li>会社概要</li>
            <li>利用規約</li>
        </ul>
        <ul class="c-footer__menu2">
            <li>プライバシーポリシー</li>
            <li>情報セキュリティポリシー</li>
        </ul>
    </div>
    <div class="c-footer--2">
        <div class="c-footer__logo">
            <img src="assets/img/logo_ft.png" alt="">
        </div>
        <div class="c-footer__mid">
            <p class="c-footer--content c-footer__fs10">
                当サイトは、お客様のプライバシー保護のため、個人情報 <br/>入力ページにおいてSSL暗号化通信を採用しています。
            </p>
        </div>
        
        <p class="c-footer--content">
            厚生労働大臣許可13-ユ-010743</p>
        <p class="c-footer--content">
            © 2009-2017 MEDICAL RESOURCES Co., Ltd. All Rights Reserved.
        </p>
    </div>
    <div class="c-footer__btnTopPC pc">
       <a onclick="topFunction()"><img src="assets/img/btn_backToTop.png" alt=""></a> 
    </div>
</div>
