<div class="c-gnav l-wrapper" id="menuDropdown">
    <div class="c-gnav__menu ">
        <ul>
            <li class="active"><a href="#" target="_blank"> ホーム</a></li>
            <li><a href="#" target="_blank">初めての方へ</a></li>
            <li><a href="#" target="_blank">常勤求人検索</a></li>
            <li><a href="#" target="_blank">非常勤求人検索</a></li>
            <li><a href="#" target="_blank">求人特集</a></li>
            <li><a href="#" target="_blank">医師キャリアアップラボ</a></li>
        </ul>
    </div>
    
    <div class="c-gnav__btn">
        <button>簡単60秒で新規登録</button> 
    </div>
</div>
