<div class="c-header l-wrapper">
    <div class="c-header__row c-header--1">
        <div class="c-header__left">
            <span>医師の求人 </span>
            <ul>
                <li>・転職</li>
                <li>・募集</li>
                <li>・常勤</li>
                <li>・非常勤（アルバイト）情報ならドクタービジョン</li>
            </ul>
        </div>
        <div class="c-header__right">
            <ul>
                <li>▶ 会社概要</li>
                <li>▶ 求人掲載のお問合せ</li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="c-header__row c-header--2">
        <div class="c-header__left c-header--logo">
            <img src="assets/img/logo_pc.png" width="200" height="80" alt="" class="pc">
            <img src="assets/img/logo_mb.png" width="230" height="68" alt="" class="mb">
        </div>
        <div class="c-header__right c-header--2__info">
            <div class="pc">
                <p>電話でのお問い合わせ：平日9:00 - 19:00</p>
                <img src="assets/img/icon_phone.png" width="30" height="20" /> <span>0120-14-5255</span>
            </div>
            <div class="mb">
                <img src="assets/img/phone_info_mb.png" width="355" height="68" />
            </div>
        </div>
        <div class="c-header__btnNav mb">
            <!-- <button  onclick="dropdownMenu()" id="btndropdown" class="btndropdown mb">
                <img src="assets/img/btndropdown.png" width="55" height="68" alt="">
            </button> -->
            <button type="button" class="btndropdown drawer-toggle drawer-hamburger">
                <!-- <img src="assets/img/btndropdown.png" width="55" height="68" alt=""> -->
                <span class="sr-only">sr-only</span>
                <span class="drawer-hamburger-icon"></span>
            </button>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="c-gnav l-wrapper" id="menuDropdown">
    <div class="c-gnav__menu ">
        <ul>
            <li class="active"><a href="#" target="_blank"> ホーム</a></li>
            <li><a href="#" target="_blank">初めての方へ</a></li>
            <li><a href="#" target="_blank">常勤求人検索</a></li>
            <li><a href="#" target="_blank">非常勤求人検索</a></li>
            <li><a href="#" target="_blank">求人特集</a></li>
            <li><a href="#" target="_blank">医師キャリアアップラボ</a></li>
        </ul>
    </div>
    
    <div class="c-gnav__btn">
        <button>簡単60秒で新規登録</button> 
    </div>
</div>

<div class="clearfix"></div>

