<div id="modal1" class="c-modal" onclick="closePopup1()">
    
    <!-- Modal content -->
    <div class="c-modal__content">
    
    <div class="c-section__title">
        <span>診療科目</span>
        <div class="border"></div>
        <span class="c-modal__close" onclick="closePopup1()">&times;</span>
    </div>
    <div class="c-modal__body">
       <img src="assets/img/popup1.png" alt="">
    </div>
    <div class="c-modal__footer">
            <button class="c-btn c-btn--brown">選択した内容を反映</button>
    </div>
    </div>

</div>

<div id="modal2" class="c-modal" onclick="closePopup2()">
        
    <!-- Modal content -->
    <div class="c-modal__content">
    
    <div class="c-section__title">
        <span>診療科目</span>
        <div class="border"></div>
        <span class="c-modal__close" onclick="closePopup2()">&times;</span>
    </div>
    <div class="c-modal__body">
        <img src="assets/img/popup2.png" alt="">
    </div>
    <div class="c-modal__footer">
            <button class="c-btn c-btn--brown">選択した内容を反映</button>
    </div>
    </div>

</div>