<div class="c-navi" id="navUp">
    
    <div class="c-navi__top">
        <p class="c-navi__title pc">医師転職クイック検索</p>
        <div class="c-navi__content pc">
            <ul class="c-navi--menu">
                <li class="c-navi--menu__item"><a onclick="popup1()"><span>勤務地</span>を選ぶ</a></li>
                <li class="c-navi--menu__icon"><img src="assets/img/icon_times.png" width="12" height="13"></li>
                <li class="c-navi--menu__item"><a onclick="popup2()"><span>診療科</span>を選ぶ</a></li>
            </ul>
            <form class="c-navi__form">
                <div class="c-navi__form--left">
                    <input type="radio" name="radio-group" checked><label for="s-option">常勤求人</label><br>
                    <input type="radio" name="radio-group"><label for="s-option">週3日以内求人</label>    
                </div>
                <div class="c-navi__form--right">
                    <button class="c-navi__btn c-btn--brown icon">この条件で検索</button>
                    <button class="c-navi__btn c-btn--red">今すぐ相談</button>
                </div>
            </form>
        </div>
        <div class="c-navi__btnTop">
            <button class="c-btn--naviFile c-btn--lightBlueN mb">
                <p>
                    <img src="assets/img/icon_search.png" alt="">
                </p>
                <div class="c-btn--naviFile__info">
                    <div class="c-btn--naviFile__left">
                        医師求人 <br/>情報を検索
                    </div>
                </div>
            </button>
            
            <button class="c-btn--naviFile c-btn--naviFile__or">
                <p>
                    <img src="assets/img/icon_file_1.png" alt="">
                </p>
                <div class="c-btn--naviFile__info">
                    <div class="c-btn--naviFile__left">
                        検討中 <br>リスト
                    </div>
                    <div class="c-btn--naviFile__right pc">
                        <span>15</span>件
                    </div>
                </div>
            </button>
            <button class="c-btn--naviFile  c-btn--naviFile__bl"> 
                <p>
                    <img src="assets/img/icon_file_2.png" alt="">
                </p>
                <div class="c-btn--naviFile__info">
                    <div class="c-btn--naviFile__left">
                        閲覧 <br/>履歴
                    </div>
                    <div class="c-btn--naviFile__right pc">
                        <span>125</span>件
                    </div>
                </div>
            </button>
            
            <button class="c-btn--naviFile  c-btn--redN mb"> 
                <p>
                    <img src="assets/img/icon_env.png" alt="">
                </p>
                <div class="c-btn--naviFile__info">
                    <div class="c-btn--naviFile__left">
                        今すぐ <br> 相談
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>

<div class="u-clearfix"></div>
<div class="c-navi__bottom pc">
    <p><a href="#">詳細検索はこちら</a></p>
</div>
<div id="modal1" class="c-modal" onclick="closePopup1()">
    
    <!-- Modal content -->
    <div class="c-modal__content">
    
    <div class="c-section__title">
        <span>診療科目</span>
        <div class="border"></div>
        <span class="c-modal__close" onclick="closePopup1()">&times;</span>
    </div>
    <div class="c-modal__body">
       <img src="assets/img/popup1.png" alt="">
    </div>
    <div class="c-modal__footer">
            <button class="c-btn c-btn--brown">選択した内容を反映</button>
    </div>
    </div>

</div>

<div id="modal2" class="c-modal" onclick="closePopup2()">
        
    <!-- Modal content -->
    <div class="c-modal__content">
    
    <div class="c-section__title">
        <span>診療科目</span>
        <div class="border"></div>
        <span class="c-modal__close" onclick="closePopup2()">&times;</span>
    </div>
    <div class="c-modal__body">
        <img src="assets/img/popup2.png" alt="">
    </div>
    <div class="c-modal__footer">
            <button class="c-btn c-btn--brown">選択した内容を反映</button>
    </div>
    </div>

</div>
