<section class="c-section c-section3">
    <div class="c-section3__title">
        <div class="c-section3__title--left">
            <span>医師求人情報を探す</span>
            <span>2017/05/31更新</span>
        </div>
        <div class="c-section3__title--right">
            現在 公開求人数
            <span>5502</span>
            <span>件</span>
        </div>
    </div>
    <div class="c-section3__tab">
        <div class="c-tab">
            <ul class="c-tab__nav">            
                <li class="c-tab__item"><a class="c-tab__link active" onclick="openTab(event, 'tab_1')">常勤（週4日以上）求人を探す</a></li>
                <li class="c-tab__item"><a class="c-tab__link" onclick="openTab(event, 'tab_2')">週3日以内求人を探す</a></li>
            </ul>
            <div class="c-tab--panes c-tab--panes--active active" id="tab_1">
                <div class="c-section3__content">
                    <div class="c-section3__left pc">
                        <p class="c-section3__titleMap">
                                <span>勤務地</span>を選ぶ
                        </p>
                        <div class="c-section3__map">
                            <img src="assets/img/map.png" width="285" height="256" alt="">
                        </div>
                        <p class="c-section3__mapInfo">
                            選択した地域： --
                        </p>
                    </div>
                    <div class="c-section3__right">
                        <button class="c-section3__btnS">
                            <p class="c-section3__titleMap">
                                <span>勤務地</span>を選ぶ
                            </p>
                            <p class="c-section3__mapInfo pc">
                                選択した地域： --
                            </p>
                        </button>
                        <button class="c-section3__btnS">
                            <p class="c-section3__titleMap">
                                <span>施設形態</span>を選ぶ 
                            </p>
                            <p class="c-section3__mapInfo pc">
                                選択した条件： --
                            </p>
                        </button>
                        <button class="c-section3__btnS pc">
                            <p class="c-section3__titleMap">
                                <span>特徴</span>を選ぶ
                            </p>
                            <p class="c-section3__mapInfo">
                                選択した地域： --
                            </p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="c-tab--panes active" id="tab_2">
                <div class="c-section3__content">
                    <div class="c-section3__left pc">
                        <p class="c-section3__titleMap">
                                <span>勤務地</span>を選ぶ
                        </p>
                        <div class="c-section3__map">
                            <img src="assets/img/map.png" width="285" height="256" alt="">
                        </div>
                        <p class="c-section3__mapInfo">
                            選択した地域： --
                        </p>
                    </div>
                    <div class="c-section3__right">
                        <button class="c-section3__btnS">
                            <p class="c-section3__titleMap">
                                <span>診療科目</span>を選ぶ
                            </p>
                            <p class="c-section3__mapInfo pc">
                                選択した地域： --
                            </p>
                        </button>
                        <button class="c-section3__btnS">
                            <p class="c-section3__titleMap">
                                <span>勤務曜日</span>を選ぶ 
                            </p>
                            <p class="c-section3__mapInfo pc">
                                選択した条件： --
                            </p>
                        </button>
                        <button class="c-section3__btnS">
                            <p class="c-section3__titleMap">
                                <span>勤務体系</span>を選ぶ
                            </p>
                            <p class="c-section3__mapInfo pc">
                                選択した地域： --
                            </p>
                        </button>
                        <button class="c-section3__btnS pc">
                            <p class="c-section3__titleMap">
                                <span>特徴</span>を選ぶ
                            </p>
                            <p class="c-section3__mapInfo">
                                選択した地域： --
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="c-section3__bottom">
        <div class="dropDownMenu pc">
            <button onclick="dropDownMenu()" class="c-section3__btnL plus">さらに条件を追加する</button>
            <div id="dropdown" class="dropdown-content">
                    <button class="c-section3__btnS ">
                        <p class="c-section3__titleMap">
                            <span>給与</span>を選ぶ
                        </p>
                        <p class="c-section3__mapInfo">
                            選択した地域： --
                        </p>
                    </button>
                    <button class="c-section3__btnS">
                        <p class="c-section3__titleMap">
                            <span>仕事内容</span>を選ぶ 
                        </p>
                        <p class="c-section3__mapInfo">
                            選択した条件： --
                        </p>
                    </button>
                    <button class="c-section3__btnS">
                        <p class="c-section3__titleMap">
                            <span>役職</span>を選ぶ
                        </p>
                        <p class="c-section3__mapInfo">
                            選択した地域： --
                        </p>
                    </button>
                    <button class="c-section3__btnS">
                        <p class="c-section3__titleMap">
                            <span>救急あり・なし</span>を選ぶ
                        </p>
                        <p class="c-section3__mapInfo">
                            選択した地域： --
                        </p>
                    </button>
                    <div class="u-clearfix"></div>
                    <form action="" class="c-frm--dropdown">
                        <label>フリーワード</label>
                        <input type="text" name="" id placeholder="キーワードを入力してください">
                    </form>
            </div>
        </div>
        
        <div class="c-btn c-section3__search">
            この条件で検索
        </div>  
    </div>
</section>
