<section class="c-section c-section1">
    <div class="c-section1__title">
        <p class="mb"><img src="assets/img/feature_mb.png" alt=""></p>
        <p class="pc"><img src="assets/img/feature.png" alt=""></p>
        <p>医師求人特集</p>
    </div>
    <ul class="c-section__content c-section1__content">
        <li>
            <a href="#">
                <img src="assets/img/img_pc_01.png" alt="" width="430" height="320" class="pc">
                <img src="assets/img/img_mb_01.png" alt="" width="675" height="508" class="mb">
                <p>常勤｜東京の「クリニック」特集</p>
                <small class="pc">医師の皆様に人気エリアの「クリニック」求人をご紹介します。</small>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/img_pc_02.png" alt="" width="200" height="150" class="pc">
                <img src="assets/img/img_mb_02.png" alt="" width="325" height="240" class="mb">
                <p>製薬企業への医師転職特集</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/img_pc_03.png" alt="" width="200" height="150" class="pc">
                <img src="assets/img/img_mb_03.png" alt="" width="325" height="240" class="mb">
                <p>産業医への医師転職特集</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="assets/img/img_pc_04.png" alt="" width="200" height="150" class="pc">
                <img src="assets/img/img_mb_04.png" alt="" width="325" height="240" class="mb">                
                <p>女性医師向け転職特集</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/img/img_pc_05.png" alt="" width="200" height="150" class="pc">
                <img src="assets/img/img_mb_05.png" alt="" width="325" height="240" class="mb">                
                <p>クリニック医師求人特集</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="assets/img/img_pc_06.png" alt="" width="200" height="150" class="pc">
                <img src="assets/img/img_mb_06.png" alt="" width="325" height="240" class="mb">                
                <p>高額年収の医師求人特集</p>
            </a>
        </li>
        <li class="mb">
            <a href="">
                <img src="assets/img/img_mb_07.png" alt="" width="325" height="240" class="mb">                
                <p>常勤｜「外来診療」の医師求人特集</p>
            </a>
        </li>
    </ul>
</section>