<section class="c-section c-section2">
    <div class="c-section__title">
        <span>医師求人コラム</span>
        <div class="border"></div>
        <span class="pc">医師求人コラムを見る</span>
    </div>
    <div class="c-section2__slider">
    <button  onclick="plusDivs(-1)" class="c-section2__btn1 mb" ></button>
        <ul class="c-section2__content">
            <li class="active">
                <img src="assets/img/img_pc_7.png" width="250" height="130" alt="">
                <div class="c-section__row">
                    <div class="c-section2__content--left">
                        <span class="c-section2__content__day">2017.05.25 UPDATE</span>
                        <h3 class="c-section2__content__title">女性医師のキャリアと働き方</h3>
                        <button class="c-btn1 c-btn1--red">キャリア</button>
                    </div>
                    <div class="c-section2__content--right">
                        <img src="assets/img/person_1.png" alt="">
                        <p>チーフコンサルタント </p>
                        <p>中村翔子</p>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/img_pc_8.png" width="250" height="130" alt="">
                <div class="c-section__row">
                    <div class="c-section2__content--left">
                        <span class="c-section2__content__day">2017.05.25 UPDATE</span>
                        <h3 class="c-section2__content__title">2017年からの医療界展望</h3>
                        <button class="c-btn1 c-btn1--blue">医療情勢</button>
                    </div>
                    <div class="c-section2__content--right">
                        <img src="assets/img/person_2.png" alt="">
                        <p>チーフコンサルタント  </p>
                        <p>鈴木俊彰</p>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/img_pc_9.png" width="250" height="130" alt="">
                <div class="c-section__row">
                    <div class="c-section2__content--left">
                        <span class="c-section2__content__day">2017.05.25 UPDATE</span>
                        <h3 class="c-section2__content__title">非常勤勤務の最新事情</h3>
                        <button class="c-btn1 c-btn1--red">キャリア</button>
                    </div>
                    <div class="c-section2__content--right">
                        <img src="assets/img/person_3.png" alt="">
                        <p>チーフコンサルタント  </p>
                        <p>伊藤義隆</p>
                    </div>
                </div>
            </li>
        </ul>
        <button  onclick="plusDivs(-1)" class="c-section2__btn2 mb"></button>
    </div>
    <div class="c-section5__bottom mb">
        <p>医師求人コラムを見る</p>
    </div>
</section>