<section class="c-section c-section4">
    <div class="c-section4__top pc">
        <p class="c-section4__title">ドクタービジョンの3つの安心</p>
        <div class="c-section4__content">
            <div class="c-section4__content--left">
                職業紹介優良事業者認定とプライバシーマークも取得し、個人情報管理も徹底。また直接顔を合わせて「会う」「話す」ことで求職者のニーズや適性を正確に理解し、一人ひとりにとって最適な転職活動となるよう心を込めた対面型の人材サービスをご提供いたします。
            </div>
            <div class="c-section4__content--right">
                <img src="assets/img/icon_sec4_1.png" alt="">
                <img src="assets/img/icon_sec4_2.png" alt="">
                <img src="assets/img/icon_sec4_3.png" alt="">
            </div>
        </div>
    </div>
    <div class="c-section4__bottom">
        <button class="c-btn c-btn--brown">ドクタービジョンについて<br/>もっと詳しく知る</button>
        <button class="c-btn c-btn--red">コンサルタントに相談する</button>
    </div>
</section>
<section class="c-section4__mb">
    <div class="c-section4__top mb">
        <p class="c-section4__title">ドクタービジョンの3つの安心</p>
        <div class="c-section4__content">
            <div class="c-section4__content--right">
                <div class="img">
                    <img src="assets/img/icon_sec4_mb_1.png" alt="">
                </div>
                <div class="img">
                    <img src="assets/img/icon_sec4_mb_2.png" alt="">
                </div>
                <div class="img">
                    <img src="assets/img/icon_sec4_mb_3.png" alt="">
                </div>
            </div>
            <div class="c-section4__content--left">
                職業紹介優良事業者認定とプライバシーマークも取得し、個人情報管理も徹底。また直接顔を合わせて「会う」「話す」ことで求職者のニーズや適性を正確に理解し、一人ひとりにとって最適な転職活動となるよう心を込めた対面型の人材サービスをご提供いたします。
            </div>
            
        </div>
    </div>
</section>