<section class="c-section c-section6">
        <div class="c-section__title">
            <span>新着求人案件</span>
            <div class="border"></div>
            <span class="pc">新着求人案件を見る</span>
        </div>
        <div class="c-section5__content">
            <p class="c-section5__title">
                【東京都／曜日選択可】精神科 月・木 ゆったりめ外来(10～15名) 駅チカクリニック
            </p>
            <div class="c-section5__row">
                <dl>
                    <dt>所在地</dt> 
                    <dd>東京都 板橋区</dd>
                </dl>		
                <dl>
                    <dt>給与</dt>
                    <dd>年収1,800～2,000万円(週5日)</dd>
                </dl>
                <dl>
                    <dt>病医院種別</dt>
                    <dd>リハビリ</dd>
                </dl>
                <dl>
                    <dt>診療科目</dt>
                    <dd>一般内科/神経内科/脳神経外科/整形外科/泌尿器科/精神科/放射線科/その他</dd>
                </dl>
            </div>
        </div>
        <div class="c-section5__content">
            <p class="c-section5__title">
                    【東京都／人気の内視鏡バイト】消化器内科・外科 都心ターミナル駅徒歩すぐ 複数曜日選択可 半日も可
            </p>
            <div class="c-section5__row">
                <dl>
                    <dt>所在地</dt> 
                    <dd>東京都 板橋区</dd>
                </dl>		
                <dl>
                    <dt>給与</dt>
                    <dd>年収1,800～2,000万円(週5日)</dd>
                </dl>
                <dl>
                    <dt>病医院種別</dt>
                    <dd>リハビリ</dd>
                </dl>
                <dl>
                    <dt>診療科目</dt>
                    <dd>一般内科/神経内科/脳神経外科/整形外科/泌尿器科/精神科/放射線科/その他</dd>
                </dl>
            </div>
        </div>
        <div class="c-section5__content">
            <p class="c-section5__title">
                【東京都／アクセス抜群！新宿エリア】内科 人間ドック・結果説明メイン
            </p>
            <div class="c-section5__row">
                <dl>
                    <dt>所在地</dt> 
                    <dd>東京都 板橋区</dd>
                </dl>		
                <dl>
                    <dt>給与</dt>
                    <dd>年収1,800～2,000万円(週5日)</dd>
                </dl>
                <dl>
                    <dt>病医院種別</dt>
                    <dd>リハビリ</dd>
                </dl>
                <dl>
                    <dt>診療科目</dt>
                    <dd>一般内科/神経内科/脳神経外科/整形外科/泌尿器科/精神科/放射線科/その他</dd>
                </dl>
            </div>
        </div>
        <div class="c-section5__bottom mb">
            <p>新着求人案件を見る</p>
        </div>
    </section>