<section class="c-section c-section5">
    <div class="c-section1__title mb">
        <p><img src="assets/img/recommend.png" alt=""></p>
        <p>先生へのおすすめ求人案件</p>
    </div>
    <div class="c-section__title pc">
        <span>先生へのおすすめ案件</span>
        <div class="border"></div>
        <span>先生へのおすすめ案件を見る</span>
    </div>
    <div class="c-section5__content">
        <p class="c-section5__title c-title__mb">
            【東京都／2,000万円検討可】内科 療養病棟管理 週4日・当直なし検討 150床規模都内病院
        </p>
        <div class="c-section5__row">
            <p class="c-section5__location mb">
                東京都 板橋区	
            </p>
            <dl class="mb">
                <dt>所在地</dt> 
                <dd>東京都 板橋区</dd>
            </dl>		
            <dl>
                <dt>給与	</dt>
                <dd>年収1,800～2,000万円(週5日)</dd>
            </dl>
            <dl>
                <dt>病医院種別</dt>
                <dd>リハビリ</dd>
            </dl>
            <dl>
                <dt>診療科目</dt>
                <dd>一般内科</dd>
            </dl>
        </div>
    </div>
    <div class="c-section5__content">
        <p class="c-section5__title c-title__mb">
            【東京都／2,000万円検討可】内科 療養病棟管理 週4日・当直なし検討 150床規模都内病院
        </p>
        <div class="c-section5__row">
            <p class="c-section5__location mb">
                東京都 板橋区	
            </p>
            <dl class="mb">
                <dt>所在地</dt> 
                <dd>東京都 板橋区</dd>
            </dl>		
            <dl>
                <dt>給与	</dt>
                <dd>年収1,800～2,000万円(週5日)</dd>
            </dl>
            <dl>
                <dt>病医院種別</dt>
                <dd>リハビリ</dd>
            </dl>
            <dl>
                <dt>診療科目</dt>
                <dd>一般内科</dd>
            </dl>
        </div>
    </div>
    <div class="c-section5__content">
        <p class="c-section5__title c-title__mb">
            【東京都／2,000万円検討可】内科 療養病棟管理 週4日・当直なし検討 150床規模都内病院
        </p>
        <div class="c-section5__row">
            <p class="c-section5__location mb">
                東京都 板橋区	
            </p>
            <dl class="mb">
                <dt>所在地</dt> 
                <dd>東京都 板橋区</dd>
            </dl>		
            <dl>
                <dt>給与	</dt>
                <dd>年収1,800～2,000万円(週5日)</dd>
            </dl>
            <dl>
                <dt>病医院種別</dt>
                <dd>リハビリ</dd>
            </dl>
            <dl>
                <dt>診療科目</dt>
                <dd>一般内科</dd>
            </dl>
        </div>
    </div>

    <div class="c-section5__bottom mb">
        <p>先生へのおすすめ案件を見る</p>
    </div>
</section>
