<section class="c-section c-section7">
    <div class="c-section__title">
        <span>“曜日別”非常勤求人検索<a class="pc">（SEO用パーツ）</a></span>
        <div class="border"></div>
    </div>
    <div class="c-section7__content">
        <p>ご希望の勤務曜日から求人検索が可能です。</p>
        <dl>
            <dt>東京都</dt>
            <dd>月</dd>	
            <dd>火</dd>
            <dd>水</dd>
            <dd>木</dd>
            <dd>金</dd>
            <dd>土</dd>
            <dd>日</dd>
        </dl>
        <dl>
            <dt>神奈川</dt>
            <dd>月</dd>	
            <dd>火</dd>
            <dd>水</dd>
            <dd>木</dd>
            <dd>金</dd>
            <dd>土</dd>
            <dd>日</dd>
        </dl>
        <dl>
            <dt>千葉県</dt>
            <dd>月</dd>	
            <dd>火</dd>
            <dd>水</dd>
            <dd>木</dd>
            <dd>金</dd>
            <dd>土</dd>
            <dd>日</dd>
        </dl>
        <dl>
            <dt>埼玉県</dt>
            <dd>月</dd>	
            <dd>火</dd>
            <dd>水</dd>
            <dd>木</dd>
            <dd>金</dd>
            <dd>土</dd>
            <dd>日</dd>
        </dl>
    </div>
</section>
