<section class="c-section c-sectionS3">
    <div class="c-sectionS3__row">
        <button class="c-btn--sidebar3 c-btn--lightBlueN c-btn__mb1">
            Q&A
        </button>
        <div class="c-sectionS3__content">
            <p class="c-sectionS3__title">
                よくあるご質問
            </p>
            <div class="c-sectionS3__info">
                <p class="c-title1">
                    INFORMATION
                </p>
                <div class="c-sectionS3__info__row">
                    <p>
                            2017.06.01
                    </p>
                    <p class="c-sectionS3__info--title">
                        知人・友人ご紹介プログラムのご案内
                    </p>
                    <p>
                        ドクタービジョンを運営するメディカルリソースでは、知人・友人ご紹介プログラムを実施しています。「お仕事を探している」「転職を考えている」先生のご友人やご同僚（先輩・同期・後輩）、ご家族をご紹介いただくと、本登録完了後、ご紹介者とご友人・ご家族やご同僚のそれぞれに『QUOカード10,000円分』を進呈いたします。 
                    </p>
                </div>
                <div class="c-sectionS3__info__row">
                    <p>
                        2016.08.26
                    </p>
                    <p class="c-sectionS3__info--title">
                        薬剤師独立開業支援にて日本M&A センター社と業務協力を開始
                    </p>
                </div>
                <div class="c-sectionS3__info__row">
                    <p>
                        2015.04.01
                    </p>
                    <p class="c-sectionS3__info--title">
                        在宅・訪問診療求人特集をリリースいたしました。
                    </p> 
                </div>
                <div class="c-sectionS3__info__row">
                    <p>
                        2015.03.12
                    </p>
                    <p class="c-sectionS3__info--title">
                        【厚生労働省委託事業】職業紹介優良事業者認定を取得しました。
                    </p>
                </div>
                <div class="c-sectionS3__info__row">
                    <button class="c-btn--sidebar4">
                           <span class="pc"> 医師求人特集一覧をみる</span>
                           <span class="mb">INFORMATION一覧を見る</span>
                           <span class="c-btn--sidebar4__icon"></span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="c-sectionS3__row">
        <div class="c-sectionS3__box border_box">
            <p>
                <img src="assets/img/img_sidebar_lg.png" alt="">
            </p>
        </div>
        <div class="c-sectionS3__content">
            <p class="c-sectionS3__title">
                クリニック開業支援・開業物件ご紹介
            </p>
        </div>
    </div>
    <div class="c-sectionS3__row">
        <button class="c-btn--sidebar3 c-btn--yellowN">
            求人掲載
        </button>
        <div class="c-sectionS3__content">
            <p class="c-sectionS3__title">
                医療機関の皆様へ　求人掲載のお問合わせはこちら
            </p>
        </div>
    </div>
    <div class="c-sectionS3__row">
        <button class="c-btn--sidebar3 c-btn--lightBlueN">
            退職・閉院
        </button>
        <div class="c-sectionS3__content">
            <p class="c-sectionS3__title">
                退職・閉院のご相談　ご相談・お問合わせはこちら
            </p>  
        </div>
    </div>
    <div class="c-sectionS3__row">
        <button class="c-btn--sidebar3 c-btn--redN">
            スマートフォンアプリ
        </button>
        <div class="c-sectionS3__content">
            <p class="c-sectionS3__title">
                ドクタービジョンおすすめ　スマートフォン向けアプリ
            </p>  
        </div>
    </div>
    <div class="c-sectionS3__row">
        <button class="c-btn--sidebar3 c-btn--blueN">
            年収・給与実態
        </button>
        <div class="c-sectionS3__content">
            <p class="c-sectionS3__title">
                転職をお考えになる際に　医師の年収・給与実態について
            </p>      
        </div>
    </div>
</section>