<section class="c-section c-sectionS2">
    <div class="c-sectionS2__title">
        <span>医師求人特集一覧</span>
    </div>
    <div class="c-sectionS2__row">
        <div class="c-sectionS2__img">
                <img src="assets/img/img_sidebar_2.png" alt="" class="pc">
                <img src="assets/img/img_sidebar_mb_2.png" alt="" class="mb">
        </div>
        
        <div class="c-sectionS2__info">
            <p class="c-sectionS2__info--title">
                特集タイトル 
            </p>
            <p class="pc">
                医師の皆様に人気エリアの「クリニック」求人をご紹介します。
            </p>
            <p class="mb">
                特集テキスト特集テキスト特集テキスト特集テキスト特集テキスト特集テキスト…
            </p>
        </div>
        <div class="icon">

        </div>
    </div>
    <div class="c-sectionS2__row">
        <div class="c-sectionS2__img">
                <img src="assets/img/img_sidebar_3.png" alt="" class="pc">
                <img src="assets/img/img_sidebar_mb_3.png" alt="" class="mb">
        </div>
        
        <div class="c-sectionS2__info">
            <p class="c-sectionS2__info--title">
                特集タイトル 
            </p>
            <p class="pc">
                医師の皆様に人気エリアの「クリニック」求人をご紹介します。
            </p>
            <p class="mb">
                特集テキスト特集テキスト特集テキスト特集テキスト特集テキスト特集テキスト…
            </p>
        </div>
        <div class="icon">
            
        </div>
    </div>
    <div class="c-sectionS2__row">
        <div class="c-sectionS2__img">
                <img src="assets/img/img_sidebar_4.png" alt="" class="pc">
                <img src="assets/img/img_sidebar_mb_4.png" alt="" class="mb">
        </div>
        
        <div class="c-sectionS2__info">
            <p class="c-sectionS2__info--title">
                特集タイトル 
            </p>
            <p class="pc">
                医師の皆様に人気エリアの「クリニック」求人をご紹介します。
            </p>
            <p class="mb">
                特集テキスト特集テキスト特集テキスト特集テキスト特集テキスト特集テキスト…
            </p>
        </div>
        <div class="icon">
            
        </div>
    </div>
    <button class="c-btn--sidebar2">
            医師求人特集一覧をみる
    </button>
</section>
