<section class="c-section c-sectionS1">
    <div class="c-sectionS1__top">
        <img src="assets/img/img_sidebar_1.png" alt="">
        <button class="c-btn--sidebar1">常勤のご登録</button>
        <button class="c-btn--sidebar1">非常勤のご登録</button>

    </div>
    <div class="c-sectionS1__bottom">
        <div class="c-sectionS1__row">
            <img src="assets/img/icon_sidebar_1.png" alt="">
            <span>
                    株式会社メディカルリソースは厚生労働省認可職業紹介優良事業者認定企業です。
            </span>
        </div>
        <div class="c-sectionS1__row">
            <img src="assets/img/icon_sidebar_2.png" alt="">
            <span>
                    株式会社メディカルリソースは、お客様の個人情報を適切に管理し、目的に沿って正しく利用します。
            </span>
        </div>
        <div class="c-sectionS1__row">
            <img src="assets/img/icon_sidebar_3.png" alt="">
            <span>
                    直接顔を合わせて「会う」「話す」ことで求職者のニーズや適性を正確に理解し、一人ひとりにとって最適な転職活動となるよう心を込めた対面型の人材サービスを提供いたします。
            </span>
        </div>
    </div>
</section>