<div class="c-slider ">
<div class="single-item pc">
    <div class="slide">
        <p>
            <img src="assets/img/banner_01.png" alt="" class="pc">
        </p>
        <button>多様なキャリアを見つける</button>
    </div>
    <div class="slide c-slider__bg">
        <p>
            <img src="assets/img/banner_02.png" alt="" class="pc">
        </p>
       <button>多様なキャリアを見つける</button>
    </div>
    <div class="slide">
        <p class="slide__3">
            <img src="assets/img/banner_03.png" alt="" class="pc">
        </p>
       <button>多様なキャリアを見つける</button>
    </div>
</div>
<div class="c-slider single-item mb">
    <div class="slide">
        <p>
            <img src="assets/img/banner_mb_01.png" alt="" width="750" height="680"> 
    
        </p>
        <button>医師転職サービスのご相談はこちら</button>
    </div>
    <div class="slide c-slider__bg">
        <p>
            <img src="assets/img/banner_mb_02.png" alt="" width="750" height="680">
        </p>
        <button>医師転職サービスのご相談はこちら</button>
    </div>
    <div class="slide">
        <p class="slide__3">
            <img src="assets/img/banner_mb_01.png" alt="" width="750" height="680">
        </p>
        <button>医師転職サービスのご相談はこちら</button>
    </div>
    
</div>
<nav class="drawer-nav" role="navigation">
    <div class="c-gnav__menu ">
        <ul class="drawer-menu"> 
            <li class="active"><a href="#" target="_blank"> ホーム</a></li>
            <li><a href="#" target="_blank">初めての方へ</a></li>
            <li><a href="#" target="_blank">常勤求人検索</a></li>
            <li><a href="#" target="_blank">非常勤求人検索</a></li>
            <li><a href="#" target="_blank">求人特集</a></li>
            <li><a href="#" target="_blank">医師キャリアアップラボ</a></li>
            <li class="c-gnav__btnClose">
                    <button id="btnClose ">CLOSE</button>
                <button type="button" class="btnClose btndropdown drawer-toggle drawer-hamburger">
                        <!-- <img src="assets/img/btndropdown.png" width="55" height="68" alt=""> -->
                        
                        <!-- <span class="sr-only">sr-only</span> -->
                        
                        <span class="drawer-hamburger-icon"></span>
                    </button>
            </li>
        </ul>
    </div>
</nav>
</div>